:root {
	--ion-color-primary: #00e7eb;
	--ion-color-primary-rgb: 0,231,235;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #00cbcf;
	--ion-color-primary-tint: #1ae9ed;

	--ion-color-secondary: #3ed0b3;
	--ion-color-secondary-rgb: 62,208,179;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #37b79e;
	--ion-color-secondary-tint: #51d5bb;

	--ion-color-tertiary: #0692c1;
	--ion-color-tertiary-rgb: 6,146,193;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #0580aa;
	--ion-color-tertiary-tint: #1f9dc7;

	--ion-color-success: #42ff75;
	--ion-color-success-rgb: 66,255,117;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #3ae067;
	--ion-color-success-tint: #55ff83;

	--ion-color-warning: #ffd23d;
	--ion-color-warning-rgb: 255,210,61;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0b936;
	--ion-color-warning-tint: #ffd750;

	--ion-color-danger: #ff0015;
	--ion-color-danger-rgb: 255,0,21;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e00012;
	--ion-color-danger-tint: #ff1a2c;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #9c9c9c;
	--ion-color-medium-rgb: 156,156,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #898989;
	--ion-color-medium-tint: #a6a6a6;

	--ion-color-dark: #131111;
	--ion-color-dark-rgb: 19,17,17;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #110f0f;
	--ion-color-dark-tint: #2b2929;

}